.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.myDateTimePicker {
  height: 5vh;
}
.tooltip_matches {
  position: absolute;
  /* width: 375px; */
  padding: 5px;
  pointer-events: none;
  background-color: rgb(50, 50, 50);
  color: white;
  border-radius: 5px;
  z-index:100;
}

.tick line {
  stroke: lightgrey;
  stroke-opacity: 0.2;
  /* stroke-opacity: 0.35; */
  shape-rendering: crispEdges;
}

/* .domain{
  stroke-width: 0;
  stroke-opacity: 0.35;
} */